<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="../../../../../../OneDrive/Desktop/grooming/css/style.css">
    <title>главная страница</title>
</head>
<body>
    <section class="promo container">
        <header class="header">
            <div class="header__logo">
                <a class="link" href="index.html">
                    <img src="../../../../../../OneDrive/Desktop/grooming/img/logo.svg" alt="logo">
                </a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a class="link" href="">наши услуги</a></li>
                    <li><a class="link" href="account.html">личный кабинет</a></li>
                </ul>
            </nav>
            <div class="main-btn">
                записаться на услугу
            </div>
        </header>
        <div class="promo__title">
            Профессиональный груминг салон <br> для собачек и кошечек
        </div>
        <div class="promo__subtitle">
            Дарим вашему питомцу красоту и заботу каждый день
        </div>
        <a class="learn-btn main-btn" href="#services">ознакомиться с нашими услугами</a>
        <div class="arrow-animate">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

    <section id="services" class="services container">
        <div class="services__title">
            Услуги нашего груминг-салона
        </div>
        <div class="services__blocks">
            <div id="haircut" class="services__item item">
                <div class="item__name">Стрижка</div>
                <div class="item__price"> от 1500 &#8381;</div>
            </div>
            <div class="services__item item">
                <div class="item__name ">Стрижка</div>
                <div class="item__price"> от 1500 &#8381;</div>
            </div>
            <div class="services__item item">
                <div class="item__name">Стрижка</div>
                <div class="item__price"> от 1500 &#8381;</div>
            </div>
        </div>
    </section>
</body>
</html>