<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>страница регистрации</title>
</head>
<body>
    <div class="registration">
        <form id="form-registration" class="block-form" action="#">
            <div class="block-form__title">Регистрация</div>
            <div class="block-item">
                <div class="block-input">
                    <label for="input" class="block-input__title">Имя:</label>
                    <input required type="text" name="name" id="name" class="block-input__text">
                </div>
                <div class="block-input">
                    <label for="input" class="block-input__title">Фамилия:</label>
                    <input required  type="text" name="surname" id="surname" class="block-input__text">
                </div>
            </div>
            <div class="block-item">
                <div class="block-input">
                    <label for="input" class="block-input__title">Номер:</label>
                    <input required type="text" name="phone" id="phone" placeholder="+7 (999) 999-99-99" class="block-input__text">
                </div>
                <div class="block-input">
                    <label for="input" class="block-input__title">Email:</label>
                    <input required type="text" name="email" id="email" placeholder="pochta@example.com" class="block-input__text">
                </div>
            </div>
            <div class="block-input block-input_long">
                <label for="input" class="block-input__title">Придумайте и запомните ваш логин:</label>
                <input required type="text" name="login" id="login" class="block-input__text">
            </div>
            <div class="block-input block-input_long">
                <label for="input" class="block-input__title">Пароль:</label>
                <input required type="password" name="password" id="pass" class="block-input__text">
            </div>
            <div class="block-input block-input_long">
                <label for="input" class="block-input__title">Пoвторите пароль:</label>
                <input required type="password" name="password-repeat" id="repPass" class="block-input__text">
            </div>
            <div id="errorBlock"></div>
            
            <input id="btn-registration" class="main-btn" type="submit" value="Зарегистрироваться">
        </form>
        <div class="anotherPage">Если у вас уже есть аккаунт ➔ 
            <span>
                <a class="anotherPage__link" href="../../../../../../OneDrive/Desktop/grooming/login.html">Войти</a>
            </span> 
        </div>
    </div>
    
    <script type="text/javascript" src="../../../../../../OneDrive/Desktop/grooming/js/jquery-3.7.1.js"></script>
    <!-- подключение библиотеки jquery -->
    <script type="text/javascript" src="../../../../../../OneDrive/Desktop/grooming/js/jquery.maskedinput.min.js"></script>
    <!-- подлючение самого плагина на маски ввода -->
    <!-- <script src="js/jquery.validate.min.js"></script> -->
    <script type="text/javascript">
        // маска для номера телефона
        $(document).ready(function() {
         $("#phone").mask("+7 (999) 999-99-99");
        });

        // проверка паролей на совпадение
        let pass = document.getElementById('pass');
        let pass_rep = document.getElementById('repPass');
        let error = document.getElementById('errorBlock');
        let btnRegistration = document.getElementById('btn-registration'); 
        // задали переменные
        repPass.addEventListener('input', checkPasswords);
        // создали обработчик событий, который будет сразу выыполнять функцию
        // при вводе в инпуте "повтора пароля" проверять на совпадение
        function checkPasswords() {
            if (pass.value !== repPass.value){
                error.textContent = 'Пароли не совпадают';
            }
            else {
                error.textContent = '';
            }
        }
    </script>
</body>
</html>